.info-header,
.info-txt {
    padding: 0 0.75rem;
}

.info-ex-wr {
    gap: 1rem;
}

.info-ex,
.info-ex-blocks  {
    gap: 0.25rem;
}

.wg-block.info-ex-block {
    font-size: 1.5rem;
    font-weight: bold;
    min-height: 2.5rem;
    min-width: 2.5rem;
}

@media only screen and (max-width: 480px) {
    .info-ex-wr {
        gap: 0.75rem;
    }
    
    .info-ex,
    .info-ex-blocks  {
        gap: 3px;
    }
    
    .wg-block.info-ex-block {
        font-size: 1.25rem;
        min-height: 2rem;
        min-width: 2rem;
    }
}