@import url("./variables.css");
@import url("./utility.css");

* {
    padding: 0;
    outline: none;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);;
    color: var(--font);
    font-family: var(--app-font);
    scroll-behavior: smooth;
}