.Toastify__toast-container {
    top: 4.5rem;
    padding: 0;
    width: fit-content;
    max-width: 300px;
}

.Toastify__toast {
    min-height: fit-content;
    max-height: fit-content;
    border-radius: 2rem;
}

.Toastify__toast-body {
    font-family: var(--app-font);
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding: 0 1rem;
    margin: 0;
} 

.Toastify__toast-icon {
    display: none;
}
  
.Toastify__toast > button>  svg {
    display: none;
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
    background-color: var(--guess-misplaced);
}

.Toastify__toast-theme--colored.Toastify__toast--success {
    background-color: var(--guess-correct);
}

.Toastify__toast-theme--colored.Toastify__toast--warning,
.Toastify__toast-theme--colored.Toastify__toast--success {
    color: var(--font);
}

.Toastify__toast-theme--colored.Toastify__toast--error,
.Toastify__toast-theme--colored.Toastify__toast--default {
    color: var(--bg);
}

.Toastify__toast-theme--colored.Toastify__toast--default {
    background-color: var(--font);
}

@media screen and (max-width: 480px) {
    .Toastify__toast-container {
        left: 1rem;
    }
}