.u_fx-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.u_fx-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.u_fx-js-sb {
    justify-content: space-between;
}

.u_fx-al-cn {
    align-items: center;
}

.u_fx-js-cn {
    justify-content: center;
}

.u_hov-scale:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    cursor: pointer;
}