/* flex properties */
.u_fx-row,
.u_fx-col {
    display: flex;
    flex-wrap: wrap;
}

.u_fx-row {
    flex-direction: row;
}

.u_fx-col {
    flex-direction: column;
}

.u_fx-js-cn {
    justify-content: center;
}

.u_fx-js-sb {
    justify-content: space-between;
}

.u_fx-al-cn {
    align-items: center;
}

/* hover effect */
.u_hov-scale:hover {
    transform: scale(1.1);
    cursor: pointer;
}