@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    /* fonts */
    --logo-font: 'Roboto Slab', serif;
    --app-font: 'Roboto', sans-serif;

    /* colors -- dark mode*/
    --bg: #121213;
    --font: #eeeeee;

    --grey-1: #1a222e;

    --grid-block-br: #2b323c;
    --grid-block-curr-br: #5b6674;

    --kb-key: #6e6e6f;
    --kb-key-used: #3a3a3c;

    --guess-correct: #1ead46;
    --guess-incorrect: #3a3a3c;
    --guess-misplaced: #ce8b10;
}