@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

:root {
    /* fonts */
    /* --logo-font: 'Roboto Slab', serif; */
    /* --app-font: 'Roboto', sans-serif; */

    --app-font: 'Mali', cursive;
    /* --app-font: 'Comic Neue', cursive; */

    /* colors -- light mode*/
    --bg: #fef9e5;
    --font: #5f2c15;

    --modal-bg: #fff;

    --grey-1: #e7e7e7;

    --grid-block-br: #ccc;
    --grid-block-curr-br: #777;

    --kb-key: #d3d6da;
    --kb-key-used: #9d9d9d;

    --guess-correct: #61de56;
    --guess-incorrect: #a3a3a3;
    --guess-misplaced: #efd14b;

    --br-sq: 0.5rem;
    --br-cr: 1rem;
    --border: #5f2c15;
}

[data-theme='dark'] {
    --bg: #36313f;
    --font: #f7f0d7;

    --modal-bg: #000;

    --grey-1: #222;

    --grid-block-br: #303030;
    --grid-block-curr-br: #666b72;

    --kb-key: #666;
    --kb-key-used: #2a2a2a;

    --guess-correct: #1ead46;
    --guess-incorrect: #3a3a3a;
    --guess-misplaced: #ce8b10;

    --border: #98939e;
}