.modal-wr {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 75%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    z-index: 4;
}

.modal-cn {
    position: relative;
    background-color: var(--modal-bg);
    min-width: 30%;
    padding: 2rem 1.5rem;
    border: solid 1px var(--grey-1);
    border-radius: 4px;
    overflow-y: auto;
}

.modal-cn::-webkit-scrollbar {
    width: 5px;
}

.modal-cn::-webkit-scrollbar-thumb {
    background-color: var(--kb-key);
    border-radius: 5px;
}

.modal-cn::-webkit-scrollbar-track {
    background: var(--bg);
    border-radius: 5px;
}

.btn-modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    outline: none;
}

.btn-modal-close:hover {
    transform: scale(0.9);
}

.modal-sec {
    padding: 1.5rem 0.75rem 0;
    border-top: 1px solid var(--grey-1);
    margin-top: 1.5rem;
}

.modal-btn {
    font-weight: bold;
    width: 70%;
    padding: 0.5rem;
    border: 2px solid var(--font);
    border-radius: 2rem;
    margin: 0.5rem 1rem;
}

.modal-btn:hover {
    transform: scaleX(1.05);
}

.modal-footer {
    gap: 1rem;
}

.modal-footer-link {
    color: var(--font);
    font-weight: bold;
}

.code-icon {
    color: var(--guess-correct);
    margin-right: 0.5rem;
}

.modal-footer-txt {
    font-size: 0.75rem;
    color: var(--kb-key);
}

.btn-modal-close,
.modal-btn {
    background-color: transparent;
    color: var(--font);
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .modal-wr {
        padding: 0.75rem;
    }

    .modal-cn {
        font-size: 0.8rem;
        min-width: 90%;
        padding: 1rem;
    }

    .btn-modal-close {
        top: 0.5rem;
        right: 0.5rem;
    }

    .btn-modal-close-icon {
        font-size: 1rem;
    }

    .modal-sec {
        padding: 1rem 0.25rem 0;
        margin-top: 1rem;
    }

    .code-icon {
        margin-right: 0.25rem;
    }
}