.wg-wr {
    font-size: 1.75rem;
    font-weight: bold;
}

.wg-wr,
.wg-row {
    gap: 5px;
}

.wg-block {
    min-width: 3.5rem;
    min-height: 3.5rem;
    border: 2px solid var(--grid-block-br);
    border-radius: 2px;
}

.wg-block.wg-block-current {
    border: 2px solid var(--grid-block-curr-br);
}

.wg-block-green {
    background-color: var(--guess-correct);
}

.wg-block-yellow {
    background-color: var(--guess-misplaced);
}

.wg-block-grey {
    background-color: var(--guess-incorrect);
}

.wg-block.wg-block-green, 
.wg-block.wg-block-yellow,
.wg-block.wg-block-grey {
    border-color: transparent;
}