.nav-wr {
    padding: 1rem 2.5rem ;
    border-bottom: 2px solid var(--grey-1);
    margin-bottom: 2rem;
}

.nav-logo {
    font-family: var(--logo-font);
}

.nav-pill {
    background-color: transparent;
    color: var(--app-color);
    border: none;
    outline: none;
    margin: 0 0.5rem;
    transition: all .5s;
}