.kb-wr {
    margin: 2rem;
    gap: 4px;
}

.kb-row {
    gap: 4px;
}

.kb-key {
    background-color: var(--kb-key);
    min-height: 3.5rem;
    min-width: 2.5rem;
    padding: 0 0.5rem;
    border-radius: 3px;
}

.kb-key-backspace {
    font-size: 1rem;
}




