.stats-curr-game,
.guess-dist-bar  {
    width: 100%;
}

.stats-outcome {
    color: var(--guess-correct);
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem 0.5rem 1.5rem;
}

.stats-heading {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.guess-dist {
    margin: 0 0.5rem;
    gap: 0.25rem;
}

.guess-dist-row {
    gap: 0.5rem;
}

.guess-dist-bar {
    max-width: 90%;
}

.guess-dist-block {
    min-width: 2rem;
    height: 0.9rem;
    flex-grow: 1;
}

.guess-dist-block:nth-child(1) {
    border-top-left-radius: var(--br-sq);
    border-bottom-left-radius: var(--br-sq);
}

.guess-dist-block:nth-child(5) {
    border-top-right-radius: var(--br-sq);
    border-bottom-right-radius: var(--br-sq);
}

.guess-dist-block-green {
    background-color: var(--guess-correct);
}

.guess-dist-block-yellow {
    background-color: var(--guess-misplaced);
}

.guess-dist-block-grey {
    background-color: var(--guess-incorrect);
}

.guess-dist-block-empty {
    height: 0.9rem;
    font-size: 0.75rem;
    padding: 0 0.5rem;
    border-radius: var(--br-cr);
    margin: 0.25rem 0;
}

.stats-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.stats-number {
    font-size: 2.25rem;
}

.guess-dist-block-empty
.stats-number-txt {
    font-size: 0.7rem;
}

@media only screen and (max-width: 480px) {
    .stats-outcome {
        font-size: 1.25rem;
    }
    
    .stats-heading {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }
    
    .guess-dist {
        gap: 0px;
    }
    
    .guess-dist-row {
        gap: 0.25rem;
    }
    
    .guess-dist-block {
        height: 0.75rem;
    }

    .stats-display {
        flex-direction: column;
    }
    
    .stats-number {
        font-size: 1.75rem;
    }
    
    .stats-number-txt {
        font-size: 0.75rem;
    }
}